spring:
  application:
    name: inventario-service

  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Inventarios
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBIT_USER}
    password: ${RABBIT_PASS}
  

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
