spring:
  application:
    name: notificaciones-service

  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Notificaciones
    username: ${DB_USER}
    password: ${DB_PASS}

  cloud:
    inetutils:
      ignored-interfaces:
        - docker0
        - vEthernet.*  

  jpa:
    hibernate:
      ddl-auto: validate

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    org.springframework.amqp: DEBUG
    
eureka:
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
