spring:
  application:
    name: notificaciones-service

  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Notificaciones
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  cache:
    type: redis

  redis:
    host: localhost
    port: 6379
    timeout: 2000

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
