server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Usuarios
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: create-drop
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-value: ${jwt.secret}

jwt:
  secret: libreria-rocky-jwt-key-para-microservicios-usuarios-2025
  expiration: 86400000 # 24 horas en milisegundos

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
