spring:
  application:
    name: usuarios-service

  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Usuarios
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBIT_USER}
    password: ${RABBIT_PASS}

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
logging:
  level:
    org.springframework.amqp: DEBUG
