spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Usuarios
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081

logging:
  level:
    com.libreriarocky.app.usuarios: DEBUG

security:
  oauth2:
    resourceserver:
      jwt:
        secret-value: libreria-rocky-jwt-key-para-microservicios-usuarios-2025
