spring:
  application:
    name: usuarios-service

  datasource:
    url: jdbc:postgresql://localhost:5432/BD_Rocky_Usuarios
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-value: ${JWT_SECRET}

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
